<div class="container text-center">

    <img class="img-fluid" src="{{movie.image}}">

        <h3>{{movie.name}}</h3><br>
        Author name:{{movie.author}}<br>
        {{movie.description}}<br>


        <button class="btn-primary m-1" (click)="return()">Show More</button>
        <button class="btn-primary m-1" (click)="return(i)">Issue</button>






  </div>


