<div class="container-fluid">
  <div class="row">
    <div class="col-3 border bg-light">
      <app-choosenames [namesRadio]="namesRadioStructure" (optSel)="optChange($event)"></app-choosenames>
    </div>
    <div class="col-9 border">
    Hello!!<br>
    Names Selected :{{nameRadioSelected}}
    </div>
  </div>
</div>
