<div class="container">
  <div class="row">
    <div
      class="col-1"
      *ngFor="let item of ansSheet; let indexOfelement = index"
    >
      <button *ngIf="item == ''" class="btn btn-warning">
        {{ indexOfelement + 1 }}.{{ item }}
      </button>
      <button
        *ngIf="item == 'A' || 'B' || 'C' || 'D'"
        class="btn btn-secondary"
      >
        {{ indexOfelement + 1 }}.{{ item }}
      </button>
    </div>
  </div>
</div>
