Choose RAM
<div *ngFor="let item of playersCB">
  <input
    type="checkbox"
    id="{{ item.name }}"
    value="item.selected"
    [(ngModel)]="item.selected"
    (change)="emitChange()"
  />{{ item.name }}
</div>
<br />
Choose ROM
<div *ngFor="let item of mobile">
  <input
    type="checkbox"

  />{{ item }}
</div>
<br />
Desired Price
<div *ngFor="let item of sportsRadio.sports">
  <input
    type="radio"
    id="{{ item }}"
    name="radio001"
    value="{{ item }}"
    checked="item === sportsRadio.selected"
    [(ngModel)]="sportsRadio.selected"
    (change)="emitChange()"
  />{{ item }}
</div>
