<div class="row">
  <div class="col-6 border text-center">
    <h6>Options</h6>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-6 border text-center">
    <h6>BestSeller</h6>
    <div *ngFor="let item of bestSeller">
      <input
        type="checkbox"
        id="{{ item.name }}"
        value="item.selected"
        [(ngModel)]="item.selected"
        (change)="emitChange()"
      />{{ item.bestseller }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 border text-center">
    <h6>Language</h6>
    <div *ngFor="let item of language">
      <input
        type="checkbox"
        id="{{ item.name }}"
        value="item.selected"
        [(ngModel)]="item.selected"
        (change)="emitChange()"
      />{{ item.language }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 border text-center">
    <br />
    <button class="btn btn-light" (click)="refineValue()">Refine</button>
    <br />
  </div>
</div>
