<div class="container m-4 text-center">
<div class="row  text-dark">
  <div class="col-3 text-center bg-primary">Name</div>
  <div class="col-3 text-center bg-primary">Country</div>
  <div class="col-3 text-center bg-primary">Sport</div>

</div>
<div class="row text-center " *ngFor="let m1 of mobiles">
<div class="col-3 border">{{m1.name}}</div>
<div class="col-3 border">{{m1.country}}</div>
<div class="col-3 border">{{m1.sport}}</div>

</div>
</div>
