<div class="container">
  <div class="text-center">
    <button class=" btn btn-primary m-1" (click)="sort()">Sort By Product</button>
    <button class=" btn btn-primary m-1" (click)="totalasc()">Total	Sales	Asc</button>
    <button class=" btn btn-primary m-1" (click)="totaldesc()">Total	Sales	Desc</button>


  </div>

<div class="row text-center">
  <div class="col-3 border bg-dark text-white">Product</div>
  <div class="col-2 border bg-dark text-white">Total Sales</div>
  <div class="col-2 border bg-dark text-white"></div>
</div>
<div class="row text-center" *ngFor="let p1 of temparray;index as i">
  <div class="col-3 border">{{p1.product}}</div>
  <div class="col-2 border">{{p1.totalsales}}</div>
  <div class="col-2 border"><button class="btn btn-primary" (click)="detail(i)">Detail</button></div>
</div>
<div *ngIf="check">
  <div class="row text-center">
    <div class="col-3 border bg-dark text-white">Product</div>
    <div class="col-2 border bg-dark text-white">Total Sales</div>
    <div class="col-2 border bg-dark text-white"></div>
  </div>
  <div class="row text-center" *ngFor="let p2 of temparray2;index as i">
    <div class="col-3 border">{{p2.product}}</div>
    <div class="col-2 border">{{p2.totalsales}}</div>
    <div class="col-2 border"><button class="btn btn-primary" (click)="detail(i)">Detail</button></div>
  </div>

</div>
</div>










