
  <br/>
 
  

  <div class="row bg-primary text-dark ">
      <div class="col-3 border">
          Title
      </div>
      <div class="col-2 border">
          Author
      </div>
      <div class="col-2 border">
          Language
      </div>
      <div class="col-1 border">
        Genere
    </div>
    <div class="col-1 border">
        Price
    </div>
    
  </div>
  <div *ngFor ="let item of strData[0]">
      <div class="row ">
          <div class="col-3 border">
            {{item.name}}
          </div>
          <div class="col-2 border">
              {{item.author}}  
          </div>
          <div class="col-2 border">
              {{item.language}}
          </div>
          <div class="col-1 border">
            {{item.genre}}
        </div>
        <div class="col-1 border">
            {{item.price}}
        </div>
      </div>
  </div>