<div class="row">
  <div class="col-3">
    <app-left-panel
      [bestSeller]="bestSellerStructure"
      [language]="lnguageStructure"
      (optSel)="optChange($event)"
    ></app-left-panel>
  </div>
  <div class="col-9">
    {{ sPage }} to {{ ePage }} of
    {{ totalBook }}
    <div class="row">
      <div class="col-3 border bg-primary">Title</div>
      <div class="col-3 border bg-primary">Author</div>
      <div class="col-3 border bg-primary">Language</div>
      <div class="col-1 border bg-primary">Genre</div>
      <div class="col-1 border bg-primary">Price</div>
      <div class="col-1 border bg-primary">BestSeller</div>
    </div>
    <div *ngFor="let book1 of bookData">
      <div class="row">
        <div class="col-3 border">{{ book1.name }}</div>
        <div class="col-3 border">{{ book1.author }}</div>
        <div class="col-3 border">{{ book1.language }}</div>
        <div class="col-1 border">{{ book1.genre }}</div>
        <div class="col-1 border">{{ book1.price }}</div>
        <div class="col-1 border">{{ book1.bestseller }}</div>
      </div>
    </div>

    <button
      *ngIf="cPage > 1"
      class="btn btn-primary m-3"
      (click)="previous(-1)"
    >
      Previous
    </button>
    <button
      *ngIf="cPage < maxPage"
      class="btn btn-primary"
      (click)="nextPage(1)"
    >
      Next
    </button>
  </div>
</div>
