<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Question Number: {{ temp + 1 }}</h4>
      <h5>{{ questions[temp].text }}</h5>
      <ol type="A">
        <li
          *ngFor="let item of questions[temp].options; index as i"
          (click)="choosedAnswer(i)"
          style="cursor: pointer;"
        >
          {{ item }}
        </li>
      </ol>
      {{ answer }}
    </div>
    <button
      *ngIf="temp >= 1"
      class="btn btn-primary m-1"
      (click)="previousQust()"
    >
      Previous Question
    </button>

    <button class="btn btn-primary" (click)="nexQuestion()">
      Next Question
    </button>
  </div>
</div>
