<h5 class="text-center">Laptops</h5>
<div class="row text-center bg-dark text-white">
  <div class="col-3">Brand</div>
  <div class="col-3">Model</div>
  <div class="col-3">Price</div>


</div>
<div class="row border text-center" *ngFor="let m1 of laptop">
<div class="col-3">{{m1.name}}</div>
<div class="col-3">{{m1.brand}}</div>
<div class="col-3">{{m1.price}}</div>
<div class="col-3"><button class="btn-primary">Add</button></div>

</div>
