<div>
  <div class="row">
    <div class="col-12 border">
      <img class="img-fluid p-3" src="{{ photo }}" />
      <br />
      <button class="btn btn-primary px-2" (click)="addToFavroite()">
        Add to Favorite
      </button>
    </div>
  </div>
</div>
