<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BookSite</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/books/"
          routerLinkActive="active"
          [queryParams]="{ newarrival: 'yes' }"
          >New Arrivals</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Books by Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            routerLink="/books/fiction"
            routerLinkActive="active"
            [queryParams]="{ name: 'fiction' }"
            >Fiction</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/children"
            routerLinkActive="active"
            [queryParams]="{ name: 'children' }"
            >Children</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/mystery"
            routerLinkActive="active"
            [queryParams]="{ name: 'mystery' }"
            >Mystery</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/management"
            routerLinkActive="active"
            [queryParams]="{ name: 'management' }"
            >Management</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/selfhelp"
            routerLinkActive="active"
            [queryParams]="{ name: 'selfhelp' }"
            >Self Help</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books" routerLinkActive="active"
          >All Books</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
<br />
<br />

<router-outlet></router-outlet>
