<div class="container">
    <div class="row bg-primary border">
        <div class="col-6 border">
            Name
        </div>
        <div class="col-3 border">
            Country
        </div>
        <div class="col-3 border">
            Sport
        </div>
    </div>
    <div *ngFor ="let item of strData[0]">
        <div class="row border">
            <div class="col-6 border">
                {{item.name}}
            </div>
            <div class="col-3 border">
                {{item.country}}  
            </div>
            <div class="col-3 border">
                {{item.sport}}
            </div>
        </div>
    </div>
    
</div>
