<div class="cells" (click)="check(index)" *ngIf="cell == 0">
  0
</div>
<div class="cells" (click)="check(index)" *ngIf="cell == 1">
  X
</div>
<div class="cells" (click)="check(index)" *ngIf="cell == -1"></div>
