/*
.cells{
  background-color: lightgreen;
  width: 60px;
  height: 60px;


  text-align: center;
  vertical-align: middle;
  font-size: 30px;

} */
.cells{
  background-color: lightgreen;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}
