<app-nav-bar (compChanged)="optChange($event)"></app-nav-bar>
<div class="row">
  <div class="col-3">
    <app-left-panel></app-left-panel>
  </div>
  <div class="col-9">
    <h6>
      {{ bookData[0].bookid }} to {{ bookData[9].bookid }} of {{ totalPage }}
    </h6>
    <div class="row">
      <div class="col-3 border bg-primary">Title</div>
      <div class="col-3 border bg-primary">Author</div>
      <div class="col-3 border bg-primary">Language</div>
      <div class="col-1 border bg-primary">Genre</div>
      <div class="col-1 border bg-primary">Price</div>
      <div class="col-1 border bg-primary">BestSeller</div>
    </div>
    <div *ngFor="let book1 of bookData">
      <div class="row">
        <div class="col-3 border">{{ book1.name }}</div>
        <div class="col-3 border">{{ book1.author }}</div>
        <div class="col-3 border">{{ book1.language }}</div>
        <div class="col-1 border">{{ book1.genre }}</div>
        <div class="col-1 border">{{ book1.price }}</div>
        <div class="col-1 border">{{ book1.bestseller }}</div>
      </div>
    </div>
    <button
      *ngIf="currPage > 1"
      class="btn btn-primary m-3"
      (click)="nextPage(-1)"
    >
      Previous
    </button>
    <button
      *ngIf="currPage < maxPage"
      class="btn btn-primary"
      (click)="nextPage(1)"
    >
      Next
    </button>
  </div>
</div>
