<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-team-options
        [playersCB]="playersStructure"
        [sportsRadio]="sportsStructure"
        (optSel)="optChange()"
      ></app-team-options>
    </div>
    <div class="col-9">


      <div class="col-9 text-center">
        <div class="row" *ngFor= "let item1 of Details">
          <div class="col-3 border ">{{item1.name}}</div>
          <div class="col-3 border ">{{item1.brand}}</div>
          <div class="col-2 border">{{item1.RAM}}</div>
          <div class="col-2 border">{{item1.ROM}}</div>
          <div class="col-2 border">{{item1.price}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
