<div>
  <div class="row ">
    <div class="col-1 m-2">
      <img
        class="img-fluid"
        src="{{ photo }}"
        style="width: 40px;"
        (click)="removeFromArray()"
      />
    </div>
  </div>
</div>
