<div *ngFor ="let item of dataa">
   <h3>{{item.name}}</h3>
   <h4>Date of Birth: {{item.details.DOb}}</h4>
   <h5>Sport: {{item.sport}}</h5>
   <h5>Country: {{item.country}}</h5>
   <p>{{item.details.Info}}</p>
</div>
<a routerLink='/stars' routerLinkActive='true'>Cricket Stars</a>